__pycache__/nn_model.cpython-39.pyc
__pycache__/games.cpython-310.pyc
__pycache__/games.cpython-39.pyc
__pycache__/classes.cpython-310.pyc
__pycache__/classes.cpython-39.pyc
__pycache__/AiPlayer.cpython-310.pyc
__pycache__/AiPlayer.cpython-39.pyc
__pycache__/nn_model.cpython-310.pyc
__pycache__/text_pictures.cpython-39.pyc
__pycache__/classes.cpython-310.pyc
__pycache__/classes.cpython-39.pyc
__pycache__
*.pyc
model
*.pth